html, body {
    height: 100%;
    margin: 0;
    background-color: #1d292c;
    display: flex;
    align-items: center;
    justify-content: center;
}

#playcanvas-wrapper {
    width: 300px;
    height: 300px;
    position: relative;
    background-color: #000; /* необязательно, можно убрать */
}

/* Убедись, что canvas внутри вписывается в div */
#application-canvas {
    width: 100% !important;
    height: 100% !important;
    display: block;
    margin: 0 auto;
    background-color: transparent;
}
